header {
    position: relative;
    background: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 89px;
    z-index: 3;
}

header .icon {
    left: 34px;
    background: #a1a1a1;
    padding: 2rem 0.5rem 2rem 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

header .icon h1 {
    color: #000000;
    font-size: 40px;
}

header h2 {
    color: #000000;
    font-size: 36px;
}

header nav {
    font-size: 36px;
    margin-right: 5rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 1rem 0 1rem;
}

header .login {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

header .login i {
    font-size: 3rem;
}

header nav ul li::after {
    content: "";
    background: #000000;
    height: 1.5rem;
    padding: 1px;
    margin-left: 0.5rem;
}

header .login h2::after {
    content: "";
    background: #000000;
    height: 1.5rem;
    padding: 1px;
    margin-left: 0.5rem;
}
